# .env para PROD:
# DBUSER='user'
# DBPASS='pass'
# DBHOST='localhost'
# DBPORT=5432
# DBNAME='db_name'

# SECRET='secret'

# CORS_ORIGIN='https://example.com.br'

# NODE_ENV=production

#================================================================================

# .env para DEV
DBUSER=
DBHOST='localhost'
DBPORT=5432
DBNAME='sepoupe'

SECRET='''

CORS_ORIGIN='http://localhost:5173'

NODE_ENV=development
