@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";

/* Depois o Tailwind */
@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;
}

html,
body,
#root {
  min-height: 100vh;

  /* Transforma o root em um flex container para ele esticar junto com o conteúdo interno */
  display: flex;
  flex-direction: column;

  /* Remove margens padrão do navegador que podem causar barra de rolagem horizontal */
  margin: 0;
  padding: 0;

  background-color: #f0f0f7;
}
